body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-k2d: K2D;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-124xl-3: 143.3px;
  --font-size-13xl: 32px;
  --font-size-20xl-6: 39.6px;
  --font-size-base: 16px;
  --font-size-4xl-6: 23.6px;
  --font-size-99xl-1: 118.1px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-gray-200: #120720;
  --color-gray-300: rgba(73, 33, 33, 0.38);
  --color-white: #fff;
  --color-whitesmoke-100: #f5f5f5;
  --color-snow: #fffbfb;
  --color-violet: rgba(246, 141, 255, 0.36);
  --color-gainsboro-100: rgba(217, 217, 217, 0.85);

  /* Border radiuses */
  --br-31xl: 50px;
  --br-16xl: 35px;
}
